@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primaryColor: #131313;
    --secondaryColor: #154e90;
    --tertiaryColor: whitesmoke;
}


body {
    background-image: url(https://images.freeimages.com/images/large-previews/01a/technology-background-1632715.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'alkalami';
}


header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

header h1 {
    color: white;
    padding-top: 15px;
}

.background-img {
    /* background-image: url(https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=2000); */
    background-image: linear-gradient(to bottom, #000000, #1860a5);    
    background-size: cover;
    min-height: 100vh;
}


.logo {
    width: 6em;
    margin-left: 5px;
    margin: 5px;
    border-radius: 100%;
}


nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    padding: 10px;
    letter-spacing: 4px;
}
.menu li {
    justify-content: space-around;
    margin: auto 10px;
}

.menu li a {
    color: var(--tertiaryColor);
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    padding: 10px;
    letter-spacing: 4px;
    border-radius: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 15px;
}

main h2 {
    letter-spacing: 4px;
}

#about, #projects, #contact {
    margin: 15px 20%;
    padding: 10px;
    color: var(--tertiaryColor);
    background-color: var(--primaryColor);
    border-radius: 30px;
    opacity: 0.95;
    box-shadow:10px 10px 10px  black;
    text-align: center;
    
}


#home .container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    text-align: center;
}

.container div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
    padding: 100px 0;
}

#contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

#contact-icons i{
    padding: 0 20px;
    /* width:10px;
    height:; */
    color: var(--secondaryColor);
}


/* .container {
    align-content: center;
    margin-bottom: 10px;
} */

.img-profile {
    /* display: block; */
    /* justify-content: center; */
    width: 400px;
    height: 400px;
    margin: 15px 100px;
}

#home div p {
    font-size: 20px;
    color: var(--tertiaryColor);
}

#home div b {
    letter-spacing: 4px;
    font-family: 'roboto mono';
    margin: 0 5px ;
    padding: 4px ;
    color:var(--tertiaryColor);
    background-color: var(--secondaryColor);
    border-radius: 30px;
}

#home div p:last-child {
    color: var(--tertiaryColor);
    letter-spacing: 3px;
}




footer {
    padding: 20px;
    background-color:var(--primaryColor);
    color: var(--tertiaryColor);
    text-align: center;
}

h1, h3, h4, h5, h6 {
    text-align: center;
}


/* #box1 {
    width: 300px;
    border-radius: 30px;
    background-color: green;
    margin: auto;
    text-align: center;
} */
